:root {
	--space-01: 0.125rem;
	--space-02: 0.25rem;
	--space-03: 0.5rem;
	--space-04: 0.75rem;
	--space-05: 1rem;
	--space-06: 1.5rem;
	--space-07: 2rem;
	--space-08: 2.5rem;
	--space-09: 3rem;
	--space-10: 4rem;
	--space-11: 5rem;
	--space-12: 6rem;
	--space-13: 10rem;

	--font-01: 0.75rem;
	--font-02: 0.875rem;
	--font-03: 1rem;
	--font-04: 1.125rem;
	--font-05: 1.25rem;
	--font-06: 1.5rem;
	--font-07: 1.75rem;
	--font-08: 2rem;
	--font-09: 2.25rem;
	--font-10: 2.625rem;
	--font-11: 3rem;
	--font-12: 3.375rem;
	--font-13: 3.75rem;

	--gap-to-account-for-button-in-header: var(--space-08);
	--gap-to-account-for-arrow-in-header: var(--space-06);

	--header-number-width: 5%;
	--header-description-width: auto;
	--header-time-width: 10%;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #2c394b;
	background-color: color(display-p3 0.173 0.224 0.294);

	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

#app {
	display: grid;
	/* 	grid-template-rows: var(--space-10) auto; */
	grid-template-columns: var(--space-10) 20% auto;
	height: 100vh;
	gap: var(--space-02);
}

#header {
	padding: var(--space-02);

	background-color: #2c394b;
	background-color: color(display-p3 0.031 0.125 0.196);
	color: #999;

	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	gap: 1rem;
}

#header h1 {
	padding: 0;
	margin: 0;
	font-weight: 100;
}

#list {
	overflow-y: scroll;
	padding: 0 var(--space-03);
	color: #fff;
}

#detail {
	background-color: transparent;
	overflow-y: scroll;
	padding-right: var(--space-02);
}

#routers h2 {
	margin: 0;
	padding: 0;
}

#routers {
	width: 100vw;
	padding: var(--space-02);
	margin: var(--space-05);
}

.list {
	padding: 0;
	margin: 0;
}

.line-item {
	display: flex;
	gap: var(--space-02);
	align-items: center;
	padding: var(--space-02);
	background-color: #fff;
}

.description {
}

.line-item:nth-child(odd) {
	background-color: #eee;
}

.line-item--new {
	background-color: #ddd !important;
}

.action-item {
	/* 	margin-left: auto; */
}

.list-header {
	font-size: var(--font-01);
	font-weight: 550;
	background-color: #ddd !important;
	outline: 1px solid #aaa;

	padding-left: var(--space-06);
	padding-right: var(--space-08);
}

.new-item {
	background-color: #ddd;
	padding: var(--space-02);
	margin: var(--space-02);
}

.time {
	font-variant-numeric: tabular-nums;
	text-align: right;
	width: var(--space-10);
}

detail,
summary {
	outline: none !important;
}

.debug {
	color: #fff;
	display: flex;
	border: 1px solid #fff;
	gap: 1rem;
}

.debug > * {
	border: 1px solid white;
	padding: 1rem;
}
