/* elements.css */

.elements {
	list-style: outside;
	list-style-type: decimal;
	/* 	padding-left: calc(
		var(--disclosure-arrow-width) + var(--gap-for-columns) + var(--padding-for-rows)
	); */
	background-color: #999;
	border-top: 1px solid #333;
	overflow: hidden;
}

.element {
	border-bottom: 1px solid #ddd;
}

.element:focus-within {
	display: block;
	z-index: 10;
	background: #eee;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.23);
}

.element:focus-within .line-item {
	background: none;
}

.element-details {
	padding-top: var(--space-01);

	font-size: var(--font-01);
	font-weight: 500;
}

.element:not(:focus-within) .line-item:not(:first-of-type) {
	display: none;
}

.inline-input {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-02);
}

.small-input {
	width: var(--space-08);
}

.frequency {
	display: flex;
	align-items: center;
	justify-content: stretch;
	gap: var(--space-01);
}

.frequency input {
	width: 30%;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: var(--font-02);
}

.frequency--simple {
	text-align: right;
}

.frequency input[type='number']::-webkit-inner-spin-button,
.frequency input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.element__time {
	text-align: right;
}
