/* list.css */


.list--header {
	padding: 0;
	margin: 0;
	
	display: flex;
	justify-content: space-between;
	
	color: #fff;
}

.list--header-h2 {
	padding: 0;
	margin: 0;
	font-weight: 300;
	font-size: 1.1rem;
}


.list__routers {
	padding: 0;
	margin: var(--gap) 0;
	list-style: none;
}

.list-router {
	padding: 0.33rem 0;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}


.list-router {
	content: "";
	border-bottom: 1px solid rgba(255,255,255,.25);
}
