/* list.css */

.list--header {
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-between;

	color: #fff;
}

.list--header-h2 {
	padding: 0;
	margin: 0;
	font-weight: 300;
	font-size: var(--font-04);
}

.list__routers {
	padding: 0;
	margin: var(--space-03) 0;
	/* 	list-style: none; */
}

.list-router {
	padding: var(--space-02) 0;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-router {
	content: '';
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
