/* operations.css */

#operations {
	color: #000;
}

.operation {
	font-size: var(--font-02);
	border-bottom: 1px solid #ddd;
}
.operations__meta {
	font-weight: 300;
	font-size: var(--font-03);
	padding: 0;
	margin: 0;
}

.operation__time {
	text-align: right;
}

.list-header--operation {
	padding-left: calc(
		var(--disclosure-arrow-width) + var(--padding-for-rows) + var(--gap-for-columns)
	);
}

.operation__detail > .line-item::before {
	display: flex;

	width: var(--disclosure-arrow-width);
	flex-shrink: 0;
	content: '►';
}

.operation__detail[open] > .line-item::before {
	transform: rotate(90deg);
}

.operation__detail {
	height: var(--collapsed);
	overflow: hidden;
	transition: height 300ms cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.operation__detail[open] {
	height: var(--expanded);
}
